html {
    box-sizing: border-box;
    font-size: 62.5%;
    
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
img{
    max-width: 100%;
    display: block;
}








/*all pantallas olv pa 1300*/

#main{
   margin-top: 2rem;
   
}
.contenedor{
    padding: 15px;
    display: block;
    background-color: rgb(20, 20, 22);
    border-radius: 5px;
}
#tittle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    

}
.h1--tittle{
    color: #fff;
    font-size: 3.5rem; 
    text-align: center;
    font-weight: 800;
}
.p-tittle{
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    margin-top: -1rem;
    font-weight: 800;


}

#img-div{

    background-color: #fff;
    padding: 10px;
    
}

#image{
margin: 0 auto;
}

#img-caption{
margin-top: 1rem;
text-align: center;
font-size: 1.8rem;
margin-bottom: 1rem;

}
#tribute-info{

    font-size: 1.5rem;
    margin-top: 14rem;

    margin: 0 auto 50px auto;

}

.cont-tribu{

 margin: 50px auto 50px auto;   
 max-width: 550px;
 

}
.h2--section{
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
}
.ul--section{
color: #fff;

margin: 0 auto 50px auto;
font-size: 1.5rem;
line-height: 1.8;
}

.blok{
 
 margin: 0 auto 50px auto;   
 color: #fff;
 font-size: 1.6rem;
}

.h3--section{
 color: #fff;
 text-align: center;
 
}

#tribute-link{
    color: rgb(20, 128, 143);
 text-decoration: none;
}








